.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.824000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:1.000000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:1.001000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:0.898000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:0.906000;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m1{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._7{margin-left:-4.782564px;}
._9{margin-left:-3.709060px;}
._1{margin-left:-2.676996px;}
._3{margin-left:-1.295960px;}
._e{width:1.433748px;}
._17{width:8.596292px;}
._d{width:9.763424px;}
._5{width:10.909000px;}
._14{width:13.286472px;}
._4{width:14.301192px;}
._2{width:15.592000px;}
._11{width:17.123344px;}
._c{width:21.807400px;}
._1a{width:27.107740px;}
._0{width:28.158032px;}
._19{width:30.896464px;}
._1c{width:33.556084px;}
._1b{width:38.077648px;}
._1d{width:40.415536px;}
._10{width:148.113476px;}
._f{width:158.374424px;}
._6{width:254.008000px;}
._b{width:284.187088px;}
._15{width:421.877172px;}
._16{width:432.493848px;}
._18{width:435.893808px;}
._12{width:462.804996px;}
._13{width:472.963788px;}
._a{width:613.095172px;}
._8{width:1078.740696px;}
.fc0{color:rgb(0,0,0);}
.fs1{font-size:40.648000px;}
.fs3{font-size:43.636000px;}
.fs2{font-size:47.820000px;}
.fs4{font-size:48.776000px;}
.fs5{font-size:57.384000px;}
.fs0{font-size:99.148000px;}
.y0{bottom:39.500000px;}
.y2e{bottom:43.470000px;}
.y2d{bottom:57.010000px;}
.y2c{bottom:70.560000px;}
.y2b{bottom:84.110000px;}
.y2a{bottom:105.460000px;}
.y29{bottom:131.460000px;}
.y28{bottom:145.010000px;}
.y27{bottom:159.550000px;}
.y26{bottom:174.100000px;}
.y25{bottom:190.370000px;}
.y24{bottom:208.640000px;}
.y23{bottom:222.190000px;}
.y22{bottom:236.740000px;}
.y21{bottom:250.290000px;}
.y20{bottom:264.830000px;}
.y1f{bottom:281.110000px;}
.y1e{bottom:297.390000px;}
.y1d{bottom:311.930000px;}
.y1c{bottom:325.480000px;}
.y1b{bottom:340.030000px;}
.y1a{bottom:353.580000px;}
.y19{bottom:369.850000px;}
.y18{bottom:396.180000px;}
.y17{bottom:422.180000px;}
.y16{bottom:436.720000px;}
.y15{bottom:450.270000px;}
.y14{bottom:464.820000px;}
.y13{bottom:481.090000px;}
.y12{bottom:499.360000px;}
.y11{bottom:512.910000px;}
.y10{bottom:527.460000px;}
.yf{bottom:541.010000px;}
.ye{bottom:555.550000px;}
.yd{bottom:569.100000px;}
.yc{bottom:583.650000px;}
.yb{bottom:597.200000px;}
.ya{bottom:613.470000px;}
.y9{bottom:634.780000px;}
.y8{bottom:660.790000px;}
.y7{bottom:674.330000px;}
.y6{bottom:687.880000px;}
.y5{bottom:701.430000px;}
.y4{bottom:722.830000px;}
.y3{bottom:748.830000px;}
.y2{bottom:769.750000px;}
.y1{bottom:789.430000px;}
.h6{height:30.021568px;}
.h4{height:30.196112px;}
.h3{height:35.865000px;}
.h5{height:41.808000px;}
.h2{height:66.726604px;}
.h1{height:678.000000px;}
.h0{height:841.890000px;}
.w1{width:523.500000px;}
.w0{width:595.280000px;}
.x0{left:36.000000px;}
.x3{left:44.660000px;}
.x4{left:53.930000px;}
.x2{left:69.630000px;}
.x1{left:246.640000px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._7{margin-left:-6.376752pt;}
._9{margin-left:-4.945413pt;}
._1{margin-left:-3.569328pt;}
._3{margin-left:-1.727947pt;}
._e{width:1.911664pt;}
._17{width:11.461723pt;}
._d{width:13.017899pt;}
._5{width:14.545333pt;}
._14{width:17.715296pt;}
._4{width:19.068256pt;}
._2{width:20.789333pt;}
._11{width:22.831125pt;}
._c{width:29.076533pt;}
._1a{width:36.143653pt;}
._0{width:37.544043pt;}
._19{width:41.195285pt;}
._1c{width:44.741445pt;}
._1b{width:50.770197pt;}
._1d{width:53.887381pt;}
._10{width:197.484635pt;}
._f{width:211.165899pt;}
._6{width:338.677333pt;}
._b{width:378.916117pt;}
._15{width:562.502896pt;}
._16{width:576.658464pt;}
._18{width:581.191744pt;}
._12{width:617.073328pt;}
._13{width:630.618384pt;}
._a{width:817.460229pt;}
._8{width:1438.320928pt;}
.fs1{font-size:54.197333pt;}
.fs3{font-size:58.181333pt;}
.fs2{font-size:63.760000pt;}
.fs4{font-size:65.034667pt;}
.fs5{font-size:76.512000pt;}
.fs0{font-size:132.197333pt;}
.y0{bottom:52.666667pt;}
.y2e{bottom:57.960000pt;}
.y2d{bottom:76.013333pt;}
.y2c{bottom:94.080000pt;}
.y2b{bottom:112.146667pt;}
.y2a{bottom:140.613333pt;}
.y29{bottom:175.280000pt;}
.y28{bottom:193.346667pt;}
.y27{bottom:212.733333pt;}
.y26{bottom:232.133333pt;}
.y25{bottom:253.826667pt;}
.y24{bottom:278.186667pt;}
.y23{bottom:296.253333pt;}
.y22{bottom:315.653333pt;}
.y21{bottom:333.720000pt;}
.y20{bottom:353.106667pt;}
.y1f{bottom:374.813333pt;}
.y1e{bottom:396.520000pt;}
.y1d{bottom:415.906667pt;}
.y1c{bottom:433.973333pt;}
.y1b{bottom:453.373333pt;}
.y1a{bottom:471.440000pt;}
.y19{bottom:493.133333pt;}
.y18{bottom:528.240000pt;}
.y17{bottom:562.906667pt;}
.y16{bottom:582.293333pt;}
.y15{bottom:600.360000pt;}
.y14{bottom:619.760000pt;}
.y13{bottom:641.453333pt;}
.y12{bottom:665.813333pt;}
.y11{bottom:683.880000pt;}
.y10{bottom:703.280000pt;}
.yf{bottom:721.346667pt;}
.ye{bottom:740.733333pt;}
.yd{bottom:758.800000pt;}
.yc{bottom:778.200000pt;}
.yb{bottom:796.266667pt;}
.ya{bottom:817.960000pt;}
.y9{bottom:846.373333pt;}
.y8{bottom:881.053333pt;}
.y7{bottom:899.106667pt;}
.y6{bottom:917.173333pt;}
.y5{bottom:935.240000pt;}
.y4{bottom:963.773333pt;}
.y3{bottom:998.440000pt;}
.y2{bottom:1026.333333pt;}
.y1{bottom:1052.573333pt;}
.h6{height:40.028757pt;}
.h4{height:40.261483pt;}
.h3{height:47.820000pt;}
.h5{height:55.744000pt;}
.h2{height:88.968805pt;}
.h1{height:904.000000pt;}
.h0{height:1122.520000pt;}
.w1{width:698.000000pt;}
.w0{width:793.706667pt;}
.x0{left:48.000000pt;}
.x3{left:59.546667pt;}
.x4{left:71.906667pt;}
.x2{left:92.840000pt;}
.x1{left:328.853333pt;}
}
